# Variables :

In [14]:
a=21 # Here 'a' is the variable and '21' is the value stored in the variable.
print(a)

21

### Valid Variables :

In [67]:
# 20 Examples of valid Variables

Crypto="DOGGO COINS"
cyber_bots=21
_Blockchain="BANKING"
_age=22
_student_percent=75.76
container21=212121
_1currency="Kuwaiti Dinar"
imaginery_Number=21j
booleanS="True or False"
NAME="Sri"
USA_dollar=83.47
Total_amount=606
is_valid="yes"
if_Also_Valid="Yes"
else_valid="Yes"
keywords="Not Valid"
Keywords_using_underscore="Valid"
Weight1=70
weight_2=65
C_o_l_o_r="Black"
false="good"
true="bad"

### Invalid Variables :

In [69]:
# 20 Examples of Invalid Variables

21wallet=212121
2nd_account="NILL"
123_start="Race"
321_stop="End"
1_2_3=4
rainy-season="JUNE"
@integer=21
*float=21.21
-Boolean="T/F"
+Addition=21
/c/data="String"
Search_folder_@="Not Found"
&year=2024
if="Not valid"
and="Not valid"
else="Not valid"
or="Not valid"
import="Not valid"
2_import="Not valid"
False="Not valid"

SyntaxError: invalid decimal literal (3229639668.py, line 3)

### Multiple Variables

In [90]:
# Assigning multiple values to multiple variables

name1,name2,name3="Marella","Srinath","Reddy"
print(name1)
print(name2)
print(name3)

# Assigning a single value to multiple variables
age=Age=age=22
print(age)
print(Age)
print(_age)

Marella
Srinath
Reddy
22
22
22

### Python Data Types

In [99]:
# Integer

x1=21
y1=31
z1=41
print(x1,y1,z1)

x2=22
y2=32
z2=42
print(x2,y2,z2)

x3=23
y3=33
z3=43
print(x3,y3,z3)

x4=24
y4=34
z4=44
print(x4,y4,z4)

x5=25
y5=35
z5=45
print(x5,y5,z5)

x6=26
y6=36
z6=46
print(x6,y6,z6)

x7=27
y7=37
z7=47
print(x7,y7,z7)

21 31 41
22 32 42
23 33 43
24 34 44
25 35 45
26 36 46
27 37 47

In [111]:
# Floats

a1=75.75
b1=76.85
c1=77.95
print(a1,b1,c1)

a2=85.75
b2=86.85
c2=87.95
print(a2,b2,c2)

a3=95.75
b3=96.85
c3=97.95
print(a3,b3,c3)

a4=76.77
b4=77.88
c4=78.99
print(a4,b4,c4)

a5=77.77
b5=88.88
c5=99.99
print(a5,b5,c5)

a6=71.71
b6=72.87
c6=78.96
print(a6,b6,c6)

a7=65.95
b7=76.25
c7=73.15
print(a7,b7,c7)

75.75 76.85 77.95
85.75 86.85 87.95
95.75 96.85 97.95
76.77 77.88 78.99
77.77 88.88 99.99
71.71 72.87 78.96
65.95 76.25 73.15

In [17]:
# Complex

_11=1+1j
_12=3+2j
_13=2+3j
print(_11,_12,_13)

_21=3+4j
_22=2+5j
_23=1+6j
print(_21,_22,_23)

_31=9+7j
_32=5+8j
_33=3+9j
print(_31,_32,_33)

_41=2+10j
_42=7+11j
_43=5+12j
print(_41,_42,_43)

_51=3+13j
_52=1+14j
_53=7+15j
print(_51,_52,_53)

_61=8+16j
_62=5+17j
_63=7+18j
print(_61,_62,_63)

_71=4+19j
_72=2+20j
_73=8+21j
print(_71,_72,_73)

(1+1j) (3+2j) (2+3j)
(3+4j) (2+5j) (1+6j)
(9+7j) (5+8j) (3+9j)
(2+10j) (7+11j) (5+12j)
(3+13j) (1+14j) (7+15j)
(8+16j) (5+17j) (7+18j)
(4+19j) (2+20j) (8+21j)

In [159]:
# Boolean

print(15>10, 15<10, 15==10, 15==15, 10>15, 10<15, 10==15, 10==10)
print(bool(0)) 
print(bool(1))

True False False True False True False True
False
True

In [161]:
int_a=21
int_b=41
print(int_a==int_b, int_a==21, int_a>22, int_b<50)

False True False True

In [147]:
# type() function

ramu=4
prabha=5.5
sri=6j

print(type(ramu),type(prabha),type(sri)) # to find the data type of the stored value in variable we can use this 'type()' function.

<class 'int'> <class 'float'> <class 'complex'>

### Type Conversion

In [11]:
# We can convert one data type to another data type. but we cannot convert complex data type into any other data types.

x1=10 # Let us declare the integers first
x2=11
x3=12
x4=13
x5=14

y1=15.1 # declaration of floats
y2=16.2
y3=17.3
y4=18.4
y5=19.5

a1=float(x1) #conversion from int to floats
a2=float(x2)
a3=float(x3)
a4=float(x4)
a5=float(x5)

b1=complex(x1) #conversion from int to complex
b2=complex(x2)
b3=complex(x3)
b4=complex(x4)
b5=complex(x5)

a11=int(y1) #conversion from float to int
a12=int(y2)
a13=int(y3)
a14=int(y4)
a15=int(y5)

b11=complex(y1) #conversion from float to complex
b12=complex(y2)
b13=complex(y3)
b14=complex(y4)
b15=complex(y5)

# Conversion is completed, now we can print the converted value.

print(a1, a2, a3, a4, a5)
print(b1, b2, b3, b4, b5)

print(a11, a12, a13, a14, a15)
print(b11, b12, b13, b14, b15)

10.0 11.0 12.0 13.0 14.0
(10+0j) (11+0j) (12+0j) (13+0j) (14+0j)
15 16 17 18 19
(15.1+0j) (16.2+0j) (17.3+0j) (18.4+0j) (19.5+0j)

In [13]:
# let's try to convert the complex data type into another data type (we know it's not possible)

z1=6+20j # daeclaration of complex type
z2=7+21j
z3=8+22j
z4=9+23j
z5=3+24j

c1=float(z1) # trying to convert from complex to float
c2=float(z2)
c3=float(z3)
c4=float(z4)
c5=float(z5)

c11=int(z1) # trying to convert from complex to int
c12=int(z2)
c13=int(z3)
c14=int(z4)
c15=int(z5)

TypeError: float() argument must be a string or a real number, not 'complex'