# Tuples :

In [22]:
# It is a datatype that represents an ordered, immutable sequence of elements. we cannot modify the tuple.

#Empty tuple
emp_tup=()
print(emp_tup)

#Tuple with elements
cities=("Hyderabad","Chennai","Banglore","Vizag","Trivandrum")
print(cities,type(cities),sep='\n')

#Mixed datatypes
uncleaned=(1,2,'clean',4.5,False)
print(uncleaned,type(uncleaned),sep='\n')

#Tuple with single Element
sing_tup=("Single Tuple",) # single element should have comma after the element, if not it will become another datatype not tuple.
print(sing_tup, type(sing_tup),sep='\n')

sing_tup=("Single Tuple") # without comma.
print(sing_tup, type(sing_tup),sep='\n')

()
('Hyderabad', 'Chennai', 'Banglore', 'Vizag', 'Trivandrum')
<class 'tuple'>
(1, 2, 'clean', 4.5, False)
<class 'tuple'>
('Single Tuple',)
<class 'tuple'>
Single Tuple
<class 'str'>

### Accessing of Tuple -

In [36]:
# Tuples support indexing and slicing just like list.

#Examples  of accessing tuple.
playlist=('Hollywood','Bollywood','Tollywood','Hollywood','Mollywoood','Sandalwood')
songs_count=(120,32,23,4,1,0)
songs_length=(2.8,4.5,3.8,2.4,4.5,3.9)

print(playlist[4],songs_count[0],songs_length[5],sep='\n') # indexing
print(playlist[1:6],songs_count[0:3],songs_length[3:4],sep='\n') # Slicing

Mollywoood
120
3.9
('Bollywood', 'Tollywood', 'Hollywood', 'Mollywoood', 'Sandalwood')
(120, 32, 23)
(2.4,)

### Immutability -

In [110]:
# Once tuple is created, we cannot change its elements or remove/add elements

#Examples for immutability
playlist_languages=('Telugu','Hindi','English','Tamil','Malayalam')
playlist_languages[3]='kannada'

print(playlist_languages) # output will be TypeError.

TypeError: 'tuple' object does not support item assignment

### Tuple Operations -

In [52]:
# 1.Concatination - Combines two or more tuples.

#Examples for concatination
company=('TCS','WIPRO','HCL','CAP GEMINI','ZOHO')
salary=(12,13,20,35,8,36,7) # (in LPA)
hike=(2.5,1.9,3.5,4.2,3.1,2.7)

combine=company+salary
combine2=combine+hike
print(combine,combine2,sep='\n')

# 2.Repetition - repeats the tuple no.of time

#Examples for repetition
rep=combine*10
rep2=combine2*6

print(rep,rep2,sep='\n')

('TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7)
('TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7)
('TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7)
('TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7, 'TCS', 'WIPRO', 'HCL', 'CAP GEMINI', 'ZOHO', 12, 13, 20, 35, 8, 36, 7, 2.5, 1.9, 3.5, 4.2, 3.1, 2.7)

### Tuple Methods -

In [108]:
# Tuples dont have many methods because of the immutability of elements in tuple.Following are the main methods for tuple.

# 1.Count() - returns the no.of occurance of a sepcified value.

#Examples for count() method
cool_drinks=('Pepsi','mazza','limca','Pepsi','Sprite','String','Cola','pepsi')
no_of_bottles=(123,465,333,423,321,333,240,324)
no_of_shops=(12,23,5,32,13,13,14,13)

print(cool_drinks.count('Pepsi'),no_of_bottles.count(333),no_of_shops.count(13),sep=', ')

# 2.index() - returns the index number of a specified value.

#Examples for index() method
bike_brand=('YAMAHA','TVS','ROYAL ENFIELD','SUZUKI','KTM','BMW')
bike_milage=(30,25,34,22,18,20)
bike_price=(1.6,1.7,1.5,1.3,4.5,3.7)

bike_brand.index('TVS')
bike_milage.index(22)
bike_price.index(3.7)

print(bike_brand.index('TVS'),bike_milage.index(22),bike_price.index(3.7),sep=', ')

2, 2, 3
1, 3, 5