# Sets -

In [174]:
# A set is a collection of unique elements. The set is unordered, immutable, and does not allow duplicate elements. set does not work on index numbers.

#Creating a set
my_sett={'element1','element2','element3','element4'}
print(sett,type(my_sett),sep='\n')

#converting a list into a set
#list_to_set=set([1,2,3,4,5])
#print(list_to_set)

#Duplicate items in a set
num_set={4,2,6,7,3,4,3,6,8,4,1,2,4,8,9}
print(num_set)

str_set={'ball','Ball','bat','bat','field','stumps','wickets'}
print(str_set)

NameError: name 'sett' is not defined

### Add and Update set items -

In [177]:
# The set is unordered so we cannot add or update by using the index number.

# 1. Add items to a set - add()
add_set1={1,3,7,5,9,3,3,0,12,3,4}
add_set2={'abc','def','ghi','gkl','mno'}
add_set3={2.2,4.4,7.7,9.9,5.5,2.2,5.5,9.0}
add_set4={5,'five',22.43,'one',23,'five' }

add_set1.add(288)
add_set2.add('xyz')
add_set3.add(88.99)
add_set4.add(True)

print(add_set1, add_set2, add_set3, add_set4,sep='\n')

{0, 1, 288, 3, 4, 5, 7, 9, 12}
{'mno', 'def', 'abc', 'gkl', 'ghi', 'xyz'}
{2.2, 4.4, 5.5, 7.7, 88.99, 9.9, 9.0}
{True, 'five', 23, 5, 'one', 22.43}

In [179]:
# 2. update set - update()
add_sett1={111,222,444,555,777,222,555}
add_sett2={'One','Two','Three','Four','Five'}
add_sett3={222.11,555.44,777.66,999.34,222.11}
add_sett4={23,45,'seven',666.77,128 }
add_sett5={1}

update_1={888,000}
update_2=['Ten','Eleven']
update_3=(111.345,175.897)
update_4="mixed elements"

add_sett1.update(update_1)
add_sett2.update(update_2)
add_sett3.update(update_3)
add_sett4.update(update_4)
add_sett5.update(update_1, update_2, update_3, update_4)

print(add_sett1, add_sett2, add_sett3, add_sett4, add_sett5, sep='\n')

{0, 888, 777, 555, 444, 222, 111}
{'Three', 'One', 'Two', 'Eleven', 'Five', 'Four', 'Ten'}
{999.34, 777.66, 555.44, 111.345, 175.897, 222.11}
{128, ' ', 'e', 'i', 't', 23, 'x', 666.77, 's', 'd', 45, 'seven', 'm', 'n', 'l'}
{0, 1, ' ', 's', 'e', 'd', 'x', 'i', 'n', 111.345, 175.897, 't', 'm', 'Eleven', 888, 'l', 'Ten'}

### Removing an element from a set -

In [182]:
# Methods to remove an element from a set.

# 1. remove() - removes the specified value from the set.

#Examples for remove() method
positive_num={2,3,4,7,2,8,9,2,4,0,1}
vowels={'a','e','i','o','u'}
floats={2.2,3.3,5.5,3.3,7.7}
mixed={23,21,'z',66.98,True,'z',False}
negative_num={-5,-9,-8,-4,-6,-8}

positive_num.remove(0)
vowels.remove('a')
floats.remove(5.5)
mixed.remove(True)
negative_num.remove(-9)

print(positive_num,vowels,floats,mixed,negative_num,sep='\n')

{1, 2, 3, 4, 7, 8, 9}
{'e', 'o', 'u', 'i'}
{2.2, 3.3, 7.7}
{False, 66.98, 21, 23, 'z'}
{-8, -6, -5, -4}

In [184]:
# If the specified value does not exist in the set, Throw an TypeError
positive_num.remove(5)
print(positive_num)

KeyError: 5

In [186]:
# If the value is not given in the parenthesis in remove() method, Throw an KeyError
positive_num.remove()
print(positive_num)

TypeError: set.remove() takes exactly one argument (0 given)

In [188]:
# 2. discard() - removes a specified value from the set.

#Examples for discard() method
positive_num={2,3,4,7,2,8,9,2,4,0,1}
vowels={'a','e','i','o','u'}
floats={2.2,3.3,5.5,3.3,7.7}
mixed={23,21,'z',66.98,True,'z',False}
negative_num={-5,-9,-8,-4,-6,-8}

positive_num.discard(4)
vowels.discard('o')
floats.discard(3.3)
mixed.discard(False)
negative_num.discard(-8)

print(positive_num,vowels,floats,mixed,negative_num,sep='\n')

{0, 1, 2, 3, 7, 8, 9}
{'e', 'u', 'i', 'a'}
{2.2, 5.5, 7.7}
{True, 66.98, 21, 23, 'z'}
{-9, -6, -5, -4}

In [190]:
# Discard() does not Throw an error if the specified value does not exist in the set.
vowels.discard('h')

In [192]:
# 3. pop() - removes a random item in the set.

#Examples for pop() method
positive_num={3,5,6,7}
negative_num={-5,-9,-8,-4,-6,-8}
vowels={'a','e','i'}
floats={2.2,3.3,3.3}
mixed={23,'z',False}

positive_num.pop()
vowels.pop()
floats.pop()
mixed.pop()
negative_num.pop()

print(positive_num,negative_num,vowels,floats,mixed,sep='\n')

{5, 6, 7}
{-8, -6, -5, -4}
{'e', 'a'}
{3.3}
{'z', 23}

In [193]:
# 4. clear() - removes every item/element from the set.

#Examples for clear() method
positive_num={2,3,4,7,2,8,9,2,4,0,1}
vowels={'a','e','i','o','u'}
floats={2.2,3.3,5.5,3.3,7.7}
mixed={23,21,'z',66.98,True,'z',False}
negative_num={-5,-9,-8,-4,-6,-8}

positive_num.clear()
vowels.clear()
floats.clear()
mixed.clear()
negative_num.clear()

print(positive_num,vowels,floats,mixed,negative_num,sep='\n')

set()
set()
set()
set()
set()

In [194]:
# 5. del - deletes or remove entire set.

full_set={120,'one twenty',True,33.45,False}
del full_set

In [196]:
print(full_set) # Throws an error, because the set is deleted completely.

NameError: name 'full_set' is not defined

### Set operations -

In [199]:
# 1. union() - combines elements from sets and removes duplicates. we can use the '|' symbol or 'union()' to perform union operation.

#Examples for union() method
A={1,4,7,9,3,4,5,6,4}
B={10,34,67,10}
C={6.6,7.9,2.4,3.5,6.6,8.5,3.5}
D={9.9,4.7,4.7,9.9,4.7,8.0}
E={'append','bend','cent','dent','bend'}
F={'either','neither','nor','or','ever','either'}

print(A|B,B|C,C|D,D|E,E|F,sep='\n') # using '|' symbol
print(A|E,C|F) # using '|' symbol

print(A.union(B),B.union(C), C.union(D), D.union(E), E.union(F),sep='\n') #  using 'union()' syntax
print(A.union(B,C,D,E,F)) #  using 'union()' syntax

{1, 34, 3, 4, 5, 6, 7, 67, 9, 10}
{34, 67, 2.4, 3.5, 6.6, 7.9, 8.5, 10}
{2.4, 3.5, 4.7, 6.6, 7.9, 8.5, 8.0, 9.9}
{'append', 4.7, 'bend', 'cent', 'dent', 8.0, 9.9}
{'cent', 'dent', 'either', 'or', 'nor', 'neither', 'append', 'ever', 'bend'}
{1, 3, 4, 5, 6, 7, 'cent', 9, 'dent', 'append', 'bend'} {2.4, 3.5, 6.6, 7.9, 8.5, 'either', 'or', 'nor', 'neither', 'ever'}
{1, 34, 3, 4, 5, 6, 7, 67, 9, 10}
{34, 67, 2.4, 3.5, 6.6, 7.9, 8.5, 10}
{2.4, 3.5, 4.7, 6.6, 7.9, 8.5, 8.0, 9.9}
{'append', 4.7, 'bend', 'cent', 'dent', 8.0, 9.9}
{'cent', 'dent', 'either', 'or', 'nor', 'neither', 'append', 'ever', 'bend'}
{1, 2.4, 3, 4, 5, 6, 7, 67, 9, 10, 3.5, 6.6, 7.9, 8.5, 8.0, 9.9, 'cent', 'ever', 'nor', 'bend', 4.7, 34, 'dent', 'either', 'neither', 'append', 'or'}

In [200]:
# 2. intersection () - returns common elements from sets.we can use the '&' symbol or 'intersection()' to perform intersection operation.

#Examples for intersection() method
A1={1,7,9,3,5,6,4}
B1={1,3,4,7,10,9}
C1={7.6,7.9,2.4,9.9,6.6,8.0,3.5}
D1={6.6,4.7,4.7,9.9,4.7,8.0}
E1={'either','bend','cent','dent','or'}
F1={'either','append','nor','or','dent','either'}

print(A1&B1,B1&C1,C1&D1,D1&E1,E1&F1,sep='\n') # using '&' symbol
print(A1&E1,C1&F1,sep='\n') # using '&' symbol

print(A1.intersection(B1),B1.intersection(C1), C1.intersection(D1), D1.intersection(E1), E1.intersection(F1),sep='\n') #  using 'intersection()' syntax
print(A1.intersection(B1,C1,D1,E1,F1)) #  using 'intersection()' syntax

{1, 3, 4, 7, 9}
set()
{8.0, 9.9, 6.6}
set()
{'or', 'either', 'dent'}
set()
set()
{1, 3, 4, 7, 9}
set()
{8.0, 9.9, 6.6}
set()
{'or', 'either', 'dent'}
set()

In [201]:
# 3. difference() - returns elements that are in the first set not in the second set. we can use the '-' symbol or 'differnece()'.

#Examples for difference() method
A2={11,23,45,67,34,22,56,45}
B2={23,33,56,45,78,57}
C2={16.6,7.19,2.14,13.5,16.6,18.5,13.5}
D2={19.9,14.7,14.7,19.9,14.7,18.0}
E2={'apple','banana','apple','grapes','guava','papaya'}
F2={'guava','apple','jack fruit','mango','watermelon','orange'}

print(A2-B2,B2-C2,C2-D2,D2-E2,E2-F2,sep='\n') # using '-' symbol
print(B2-A2,C2-B2,D2-C2,E2-D2,F2-E,sep='\n') # using '-' symbol

print(A2.difference(B2),B2.difference(C2), C2.difference(D2), D2.difference(E2), E2.difference(F2),sep='\n') #  using 'difference()' syntax

{11, 34, 67, 22}
{33, 45, 78, 23, 56, 57}
{2.14, 7.19, 13.5, 16.6, 18.5}
{18.0, 19.9, 14.7}
{'banana', 'papaya', 'grapes'}
{33, 78, 57}
{2.14, 7.19, 13.5, 16.6, 18.5}
{18.0, 19.9, 14.7}
{'guava', 'banana', 'papaya', 'grapes', 'apple'}
{'jack fruit', 'mango', 'guava', 'watermelon', 'apple', 'orange'}
{11, 34, 67, 22}
{33, 45, 78, 23, 56, 57}
{2.14, 7.19, 13.5, 16.6, 18.5}
{18.0, 19.9, 14.7}
{'banana', 'papaya', 'grapes'}

In [202]:
# 4. symmetric_difference() - returns the set that contains all items from the both sets, but not the items that are present in the both sets.
# we can use the '^' symbol or 'symmetric_difference()' to perform symmetric_difference operation.

#Examples for symmetric_difference() method
A3={221,224,223,225,222,221,225,226,227}
B3={221,225,280,250,227,221}
C3={111.111,222.222,555.555,777.777,888.888,333.333}
D3={000.000,111.111,999.999,666.666}
E3={'rose','jasmine','lily','tulip','iris'}
F3={'sunflower','lavender','iris','bluebell','tulip','coneflower'}

print(A3^B3,B3^C3,C3^D3,D3^E3,E3^F3,sep='\n') # using '^' symbol
print(A3^E3,C3^F3,sep='\n') # using '^' symbol

print(A3.symmetric_difference(B3),B3.symmetric_difference(C3), C3.symmetric_difference(D3), D3.symmetric_difference(E3), E3.symmetric_difference(F3),sep='\n') #  using 'symmetric_difference()' syntax

{224, 226, 280, 250, 222, 223}
{777.777, 333.333, 280, 221, 222.222, 225, 227, 555.555, 111.111, 888.888, 250}
{0.0, 999.999, 777.777, 555.555, 333.333, 888.888, 666.666, 222.222}
{0.0, 'jasmine', 'rose', 666.666, 999.999, 'lily', 111.111, 'iris', 'tulip'}
{'bluebell', 'jasmine', 'rose', 'coneflower', 'lily', 'sunflower', 'lavender'}
{'jasmine', 'rose', 221, 222, 223, 224, 225, 226, 227, 'lily', 'iris', 'tulip'}
{'bluebell', 777.777, 333.333, 'coneflower', 222.222, 'sunflower', 555.555, 111.111, 'lavender', 888.888, 'iris', 'tulip'}
{224, 226, 280, 250, 222, 223}
{777.777, 333.333, 280, 221, 222.222, 225, 227, 555.555, 111.111, 888.888, 250}
{0.0, 999.999, 777.777, 555.555, 333.333, 888.888, 666.666, 222.222}
{0.0, 'jasmine', 'rose', 666.666, 999.999, 'lily', 111.111, 'iris', 'tulip'}
{'bluebell', 'jasmine', 'rose', 'coneflower', 'lily', 'sunflower', 'lavender'}

### Other set methods -

In [204]:
# 1. copy() - copies the set

#Examples for copy() method
banks={'State Bank of India','Kotak Mahindra','City Union Bank','Bank of Baroda','HDFC Bank','ICICI Bank'}
no_of_Branches={22219,1780,799,9693,8735,6000}
no_of_atms={62617,2963,1762,10033,20938,1700}
notes_in_atm={100,500,2000}

banks_copy=banks.copy()
no_of_Branches_copy=no_of_Branches.copy()
no_of_atms_copy=no_of_atms.copy()
notes_in_atm_copy=notes_in_atm.copy()

print(banks_copy,no_of_Branches_copy,no_of_atms_copy,notes_in_atm_copy,sep='\n')

{'City Union Bank', 'HDFC Bank', 'State Bank of India', 'ICICI Bank', 'Bank of Baroda', 'Kotak Mahindra'}
{6000, 1780, 799, 22219, 9693, 8735}
{10033, 1762, 2963, 1700, 62617, 20938}
{2000, 100, 500}

In [206]:
# 2. isdisjoint() - returns True if none of the items are present in both sets, otherwise it returns False.

#Examples for isdisjoint()
vegetables1={'Tomato','potato','brinjal','carrot'}
vegetables2={'Ladies Finger','Bottle Guard','Sour guard','Bitter Guard'}

num={3,5,2,6,8,9}
numm={1,0,7,4,2}

print(vegetables1.isdisjoint(vegetables2))
print(num.isdisjoint(numm))

True
False

In [211]:
# 3. issubset() - returns True if all items in the set exist in the specified set, otherwise it returns False. '<='

#Examples for issunset() - method

x1={2,3,5,7,8,9,1,0,2,5}
x2={2,3,8,3,0}

x3={1,3,5,7,9}
x4={1,3,5,7,9} 

print(x1.issubset(x2)) ## x3 = x1 <= x2 we can use this syntax also for issubset
print(x2.issubset(x1))

print(x3.issubset(x4)) # checking issubset() if the both sets have same items
print(x4.issubset(x3))

False
True
True
True

In [212]:
# 4. issuperset() - returns True if all the items in the specified set exist in the original set, otherwise it returns False. '>='

#Examples for issuperset() - method
y1={'a', 'b', 'c', 'd', 'e','f', 'g', 'h'}
y2={'a','d','f','d'}

y3={'x','y','z'}
y4={'x','y','z'}

print(y1.issuperset(y2)) ## y3 = y1 >= y2 we can use this syntax also for issuperset
print(y2.issuperset(y1))

print(y3.issubset(y4)) # checking issuperset() if the both sets have same items
print(y4.issubset(y3))

True
False
True
True

In [214]:
# Below examples may throw an Error. Because we are performing set operations on different datatypes

In [215]:
# checking if the set operations are working on other datatypes

#Examples for list

a1=['b', 'c', 'd', 'e', 'g', 'h'] # list
b1=['a','d','f','d']

print(a1|b1)

TypeError: unsupported operand type(s) for |: 'list' and 'list'

In [251]:
print(a1.intersection(b1))

AttributeError: 'tuple' object has no attribute 'intersection'

In [253]:
print(a1.difference(b1))

AttributeError: 'tuple' object has no attribute 'difference'

In [255]:
print(a1.symmetric_difference(b1))

AttributeError: 'tuple' object has no attribute 'symmetric_difference'

In [257]:
#examples for tuple

a1=('b', 'c', 'd', 'e', 'g', 'h') # Tuple
b1=('a','d','f','d')

print(a1|b1)

TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

In [259]:
print(a1.intersection(b1))

AttributeError: 'tuple' object has no attribute 'intersection'

In [261]:
print(a1.difference(b1))

AttributeError: 'tuple' object has no attribute 'difference'

In [263]:
print(a1.symmetric_difference(b1))

AttributeError: 'tuple' object has no attribute 'symmetric_difference'

In [265]:
#Examples for dictionary

fruits_colours_1 = {
    "apple": 'red',
    "guava": 'green',
    "grape": 'green'
}

fruits_colours_2 = {
    "apple": 'red',
    "Orange": 'orange',
    "grape": 'green'
}

fruit=fruits_colours_1|fruits_colours_2
print(fruit)

{'apple': 'red', 'guava': 'green', 'grape': 'green', 'Orange': 'orange'}

In [267]:
fruit1=fruits_colours_1.intersection(fruits_colours_2)
print(fruit1)

AttributeError: 'dict' object has no attribute 'intersection'

In [269]:
fruit2=fruits_colours_1-fruits_colours_2

print(fruit2)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [271]:
fruit3=fruits_colours_1.symmetric_difference(fruits_colours_2)

print(fruit3)

AttributeError: 'dict' object has no attribute 'symmetric_difference'

In [273]:
#Examples for two different datatypes

x1={2,3,5,7,8,9,1,0,2,5} # set and tuple
x2=(2,3,8,3,0)

print(x1|x2)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [275]:
x3={2,3,5,7,8,9,1,0,2,5} # set and list
x4=[2,3,8,3,0]

print(x1&x2)

TypeError: unsupported operand type(s) for &: 'set' and 'tuple'