# Dictionary -

In [23]:
# A dictionary is a data structure that allows you to store and retrieve data in a key-value pair format. curly '{}' braces are used to represent the dictionary.

#Examples for dictionary
emt_dict={} # Empty dictionary
My_dict={'name':'Marella Srinath Reddy','age':22,'percent':85} # name - key & Marella Srinath Reddy - value (key:value = item)
print(emt_dict,My_dict,type(My_dict),sep='\n')

#Examples for mixed datatype
Mixed_dict={'name':'Marella Srinath Reddy','age':22,'percents':[97,83.84,85]} # here '[97,83.84,85]' is a list datatype.
print(Mixed_dict,type(Mixed_dict),sep='\n')

{}
{'name': 'Marella Srinath Reddy', 'age': 22, 'percent': 85}
<class 'dict'>
{'name': 'Marella Srinath Reddy', 'age': 22, 'percents': [97, 83.84, 85]}
<class 'dict'>

### Accessing dictionary -

In [25]:
# We can access the value in a dictionary using the keys.

#Examples for accessing dictionary and nested dictionary

fruits_colours = {
    "apple": 'red',
    "guava": 'green',
    "grape": 'green'
}

employees = {
    "emp1": {"name": "John", "age": 30, "department": "HR"},
    "emp2": {"name": "Jane", "age": 25, "department": "Finance"},
    "emp3": {"name": "Jake", "age": 35, "department": "IT"}
}

#Accessing a dictionary
print(fruits_colours["apple"],fruits_colours["grape"],sep='\n')

# Accessing nested dictionary values
print(employees["emp1"]["name"],employees["emp2"]["age"],employees["emp3"]["department"],sep='\n')

red
green
John
25
IT

### Modifying an adding entries -

In [44]:
# Updating a value in a dictionary
fruits_colours["apple"]="green"
# Adding a new value in a dictionary
fruits_colours["Orange"]="orange"

print(fruits_colours)

# Updating a value in a nested dictionary
employees["emp2"]["department"]="Marketing"
# Adding a new employee
employees["emp4"] = {"name": "Jonathan", "age": 29, "department": "Sales"}

print(employees)

{'apple': 'green', 'guava': 'green', 'grape': 'green', 'Orange': 'orange'}
{'emp1': {'name': 'John', 'age': 30, 'department': 'HR'}, 'emp2': {'name': 'Jane', 'age': 25, 'department': 'Marketing'}, 'emp3': {'name': 'Jake', 'age': 35, 'department': 'IT'}, 'emp4': {'name': 'Jonathan', 'age': 29, 'department': 'Sales'}}

### Dictionary Methods -

In [65]:
# 1. get() - returns the value for a specific key.

#Examples for get() method
Teks_academy_tutors={
    "Vamsi":{"Course": "Data Science", "age":25, "salary": "35K"},
    "Swayam":{"Course":"Python Full Stack","age":26,"salary":"34K"},
    "Unknown":{"Course":"Java Full Stack","age":30,"salary":"50K"}
}

print(Teks_academy_tutors["Vamsi"].get(" Course"),Teks_academy_tutors["Swayam"].get("age"),Teks_academy_tutors["Unknown"].get("salary"),sep='\n')

None
26
50K

In [79]:
# 2. keys() - returns a view of all the keys in the dictionary.

#Examples for keys() method
print(Teks_academy_tutors.keys())
print(Teks_academy_tutors["Vamsi"].keys(), Teks_academy_tutors["Swayam"].keys(), Teks_academy_tutors["Unknown"].keys(),sep='\n')

dict_keys(['Vamsi', 'Swayam', 'Unknown'])
dict_keys(['Course', 'age', 'salary'])
dict_keys(['Course', 'age', 'salary'])
dict_keys(['Course', 'age', 'salary'])

In [81]:
# 3. values() - returns a view of all the values in the dictionary.

#Examples for values() method
print(Teks_academy_tutors.values())
print(Teks_academy_tutors["Vamsi"].values(), Teks_academy_tutors["Swayam"].values(), Teks_academy_tutors["Unknown"].values(),sep='\n')

dict_values([{'Course': 'Data Science', 'age': 25, 'salary': '35K'}, {'Course': 'Python Full Stack', 'age': 26, 'salary': '34K'}, {'Course': 'Java Full Stack', 'age': 30, 'salary': '50K'}])
dict_values(['Data Science', 25, '35K'])
dict_values(['Python Full Stack', 26, '34K'])
dict_values(['Java Full Stack', 30, '50K'])

In [87]:
# 4.items() - returns a view of all the items in the dictionary.

#Examples for items() method
print(Teks_academy_tutors.items())
print(Teks_academy_tutors["Vamsi"].items(), Teks_academy_tutors["Swayam"].items(), Teks_academy_tutors["Unknown"].items(),sep='\n')

dict_items([('Vamsi', {'Course': 'Data Science', 'age': 25, 'salary': '35K'}), ('Swayam', {'Course': 'Python Full Stack', 'age': 26, 'salary': '34K'}), ('Unknown', {'Course': 'Java Full Stack', 'age': 30, 'salary': '50K'})])
dict_items([('Course', 'Data Science'), ('age', 25), ('salary', '35K')])
dict_items([('Course', 'Python Full Stack'), ('age', 26), ('salary', '34K')])
dict_items([('Course', 'Java Full Stack'), ('age', 30), ('salary', '50K')])

In [43]:
# 5.pop() - removes and returns the value for a specified key

#Examples for pop() method
Teks_academy_counsellors={
    "Radha":{"age":25, "salary": "35K","shift":"Morning"},
    "Rani":{"age":26,"salary":"34K","shift":"Evening"},
    "Ravi":{"age":30,"salary":"50K","shift":"Afternoon"}
}

print(Teks_academy_counsellors.pop("Radha"))
print(Teks_academy_counsellors["Rani"].pop("shift"))
print(Teks_academy_counsellors["Ravi"].pop("salary"))

print(Teks_academy_counsellors)

{'age': 25, 'salary': '35K', 'shift': 'Morning'}
Evening
50K
{'Rani': {'age': 26, 'salary': '34K'}, 'Ravi': {'age': 30, 'shift': 'Afternoon'}}

In [49]:
# 6.popitems() - removes and returns the last inserted key-value pair.
Teks_academy_counsellors1={
    "Srinath":{"age":26, "salary": "55K","shift":"Afternoon"},
    "Ajay":{"age":28,"salary":"45K","shift":"Morning"},
    "Praksah":{"age":32,"salary":"50K","shift":"Afternoon"}
}

#Examples for popitems() method
print(Teks_academy_counsellors1.popitem())
print(Teks_academy_counsellors1["Ajay"].popitem())
print(Teks_academy_counsellors1["Srinath"].popitem())

print(Teks_academy_counsellors1)

('Praksah', {'age': 32, 'salary': '50K', 'shift': 'Afternoon'})
('shift', 'Morning')
('shift', 'Afternoon')
{'Srinath': {'age': 26, 'salary': '55K'}, 'Ajay': {'age': 28, 'salary': '45K'}}

In [75]:
# 7.update() - updates the dictionary with elements from another dictionary or from an iterable  of key-value pairs.

#Examples for update() method
new_counsellors={
    "Mahesh":{"age":26, "salary": "55K","shift":"Afternoon"},
    "Ganesh":{"age":26, "salary": "55K","shift":"Afternoon"}
}

Teks_academy_counsellors1.update(new_counsellors)
print(Teks_academy_counsellors1)

{'Srinath': {'age': 26, 'salary': '55K'}, 'Ajay': {'age': 28, 'salary': '45K'}, 'Mahesh': {'age': 26, 'salary': '55K', 'shift': 'Afternoon'}, 'Ganesh': {'age': 26, 'salary': '55K', 'shift': 'Afternoon'}}

In [94]:
# 8.clear() - clear/removes everything in dictionary

#Examples for clear() method
new_employee={
    "Branch":"Hi-Tech City",
    "Name":"Sudha raman",
    "Joining Date":"10-08-2024"
}

new_employee.clear() #makes set empty
print(new_employee)

{}

In [106]:
# 9.copy() - copies the set into another set.

#Examples for copy() method
Auto_mobiles={
    "Bike":"GT 650",
    "Car":"Morris Garages(MG)",
    "Bus":"Volvo"
}
b=20
Vehicles=Auto_mobiles.copy()
print(Vehicles,Auto_mobiles,sep='\n')

{'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo'}
{'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo'}

In [150]:
# 10.fromkeys() - returns a dictionary with the specified keys and the specified value

#Examples for fromkeys() method from tuple to dictionary 
not_dictionary=(2,3,4,5,6)
value=22
print(dict.fromkeys(not_dictionary,value))

#Examples for fromkeys() method from list to dictionary 
not_dictionary1=["one","two","three","four","five"]
value1= "NO DATA"
print(dict.fromkeys(not_dictionary1,value1))

#Examples for fromkeys() method from dictionary to dictionary 
not_dictionary2={2.6,3.7,4.7,5.4,6.9}
value2={"float","floats"}
print(dict.fromkeys(not_dictionary2,value2))

#Another example 
print(dict.fromkeys(Auto_mobiles))
print(dict.fromkeys(Auto_mobiles,b))

{2: 22, 3: 22, 4: 22, 5: 22, 6: 22}
{'one': 'NO DATA', 'two': 'NO DATA', 'three': 'NO DATA', 'four': 'NO DATA', 'five': 'NO DATA'}
{2.6: {'floats', 'float'}, 3.7: {'floats', 'float'}, 4.7: {'floats', 'float'}, 5.4: {'floats', 'float'}, 6.9: {'floats', 'float'}}
{'Bike': None, 'Car': None, 'Bus': None}
{'Bike': {'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo'}, 'Car': {'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo'}, 'Bus': {'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo'}}

In [166]:
# 11. setdefault() - returns the value of the item with the specified key. If the key does not exists, inserts the key with the specified value.

#Examples for setdefault() method
Auto_mobiless={
    "Bike": "GT 650",
    "Car": "Morris Garages(MG)",
    "Bus": "Volvo"
}

default=Auto_mobiless.setdefault("Heavy-duty Lorry","Bharat-Benz")
print(default)
print(Auto_mobiless)

default1=Auto_mobiless.setdefault("Bike", "GT 650")
print(default1)
print(Auto_mobiless)

Bharat-Benz
{'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo', 'Heavy-duty Lorry': 'Bharat-Benz'}
GT 650
{'Bike': 'GT 650', 'Car': 'Morris Garages(MG)', 'Bus': 'Volvo', 'Heavy-duty Lorry': 'Bharat-Benz'}