# List :

In [47]:
# List is commonly a data type, which is in order,mutable and iterable sequence over a data. list contains elements.
# index numbers plays a crucial role in list.

#Examples for list.
acct_holder_age=[21,22,34,56,27,18,] # int
interest=[2.5,3.6,1.7,2.6,3.1,4.3] # float (in percentage)
acct_holders=['Srinath','Harry','Sundar','Durga','Pavan','Giri'] # string
a=[1,2,3,4,5,6,], [4.5,4.6,4.7,4.8,4.9], [22>33, False], ['ed','hgfd','hgf'], [1,2.2,'jhgfd', True, 44==33, 44^5]

print(type(acct_holder_age), type(interest), type(acct_holders))
print(acct_holder_age, interest, acct_holders, a, sep='\n')

<class 'list'> <class 'list'> <class 'list'>
[21, 22, 34, 56, 27, 18]
[2.5, 3.6, 1.7, 2.6, 3.1, 4.3]
['Srinath', 'Harry', 'Sundar', 'Durga', 'Pavan', 'Giri']
([1, 2, 3, 4, 5, 6], [4.5, 4.6, 4.7, 4.8, 4.9], [False, False], ['ed', 'hgfd', 'hgf'], [1, 2.2, 'jhgfd', True, False, 41])

### Access list elements -

In [50]:
# lists contain elements. Each element is associated with a number called 'index'.we can access any element in list by using the index of element.
# positive index - 0,1,2,.... (n-1)
# negative index - -1,-2,-3,.... (n+1)

#Examples for accessing list elements using positive index.
cric_players=['Dhoni','Kohli','Rohit','Pandya','Dawan','Sachin'] # Strings
score=[68,72,56,32,40,14] # int
play_time=[12.30,15.45,53.45,8.5,16.75,32.55] # float (in minutes)

print(cric_players[0], cric_players[2], cric_players[4], sep=', ')
print(score[1], score[3], score[5], sep=', ')
print(play_time[5], play_time[4], play_time[1], sep=', ')

#Examples for accessing list elements using negative index.
print(cric_players[-3], cric_players[-4], cric_players[-2], sep=', ')
print(score[-5], score[-1], score[-5], sep=', ')
print(play_time[-2], play_time[-6], play_time[-1], sep=', ')

Dhoni, Rohit, Dawan
72, 32, 14
32.55, 16.75, 15.45
Pandya, Rohit, Dawan
72, 14, 72
16.75, 12.3, 32.55

### Slicing of List -

In [53]:
# In python, it is possible to access a portion of a list using the slicing operator. ':'

#Examples for slicing using positive index .
vegetables=['carrot','beetroot','beans','cabbage','bitter guard','sour guard'] # string
quantity=['2.5','1.5','0.5','3.5','2.5','4.5'] # float (in kilograms)
price=[95,30,20,85,60,100] # int

print(vegetables[1:4], vegetables[0:3], vegetables[2:5], sep='-')
print(quantity[2:3], quantity[2:5], quantity[0:5], sep='-')
print(price[3:5], price[4:5], price[1:5], sep='-')

#Examples for slicing using negative index.
fruits=['apple','orange','banana','grape','lichi','guava'] # string
quantity=['1.5','2.5','3.5','2.5','0.5','1.5'] # float (in kilograms)
price=[150,70,200,65,40,100] # int

print(fruits[-1:-4], fruits[-1:-3], fruits[-2:-5], sep='-')
print(quantity[-2:-3], quantity[-2:-5], quantity[-1:-5], sep='-')
print(price[-3:-5], price[-4:-5], price[-1:-5], sep='-')

['beetroot', 'beans', 'cabbage']-['carrot', 'beetroot', 'beans']-['beans', 'cabbage', 'bitter guard']
['0.5']-['0.5', '3.5', '2.5']-['2.5', '1.5', '0.5', '3.5', '2.5']
[85, 60]-[60]-[30, 20, 85, 60]
[]-[]-[]
[]-[]-[]
[]-[]-[]

In [55]:
x=[1,2,3,4,5,6]
print(x[-1:-4])

[]

### List Operations -

In [58]:
# The two operations to perform on list are 1.Concatination 2.Repetition.
# Concatination is used to add two or more lists to a single list (it won't perform addition on list) (+).
# Repetition is used to repeat the same list for no.of times.(*).

#Examples for concatination.
numbers1=[11,22,33,44,55] # int
numbers2=[66,77,88,99] # int
strings1=['ball','bat','bird','beat','ben'] # string
strings2=['cat','call','car','cut'] # string
floats1=[2.3,4.2,3.5,6.6,9.3] # float
floats2=[9.2,2.4,5.6,7.1] # float

concat1=numbers1+numbers2
concat2=strings1+strings2
concat3=floats1+floats2
concat=numbers2+numbers1+strings1+strings2+floats1+floats2
print(concat1, concat2, concat3, concat, sep='\n')

#Examples for repetition
rep1=numbers1*1
rep2=strings1*2
rep3=floats1*3
rep4=(numbers1+numbers2)*3
rep5=(strings1+strings2)*4
rep6=(floats1+floats2)*1
rep=(numbers1+numbers2+strings1+strings2+floats1+floats2)*2
print(rep1, rep2, rep3, rep4, rep5, rep6, rep, sep='\n')

[11, 22, 33, 44, 55, 66, 77, 88, 99]
['ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut']
[2.3, 4.2, 3.5, 6.6, 9.3, 9.2, 2.4, 5.6, 7.1]
[66, 77, 88, 99, 11, 22, 33, 44, 55, 'ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut', 2.3, 4.2, 3.5, 6.6, 9.3, 9.2, 2.4, 5.6, 7.1]
[11, 22, 33, 44, 55]
['ball', 'bat', 'bird', 'beat', 'ben', 'ball', 'bat', 'bird', 'beat', 'ben']
[2.3, 4.2, 3.5, 6.6, 9.3, 2.3, 4.2, 3.5, 6.6, 9.3, 2.3, 4.2, 3.5, 6.6, 9.3]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88, 99]
['ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut', 'ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut', 'ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut', 'ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut']
[2.3, 4.2, 3.5, 6.6, 9.3, 9.2, 2.4, 5.6, 7.1]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 'ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut', 2.3, 4.2, 3.5, 6.6, 9.3, 9.2, 2.4, 5.6, 7.1, 11, 22, 33, 44, 55, 66, 77, 88, 99, 'ball', 'bat', 'bird', 'beat', 'ben', 'cat', 'call', 'car', 'cut', 2.3, 4.2, 3.5, 6.6, 9.3, 9.2, 2.4, 5.6, 7.1]

### Change list items -

In [61]:
# To change or replace the value of a specified item with the reference of index number.

#Examples for replacing only a single value/element in a list.
items_num=[1,2,3,4,5,6,7,8] # int
items_float=[2.2,3.3,4.4,5.5,6.6] # float
items_string=['abc','def','ghi','jkl','mno'] # string

items_num[3]=10
items_float[4]=10.66
items_string[2]='xyz'

print(items_num, items_float, items_string, sep='\n')

#Examples for replacing more than one elements in a list using slicing.
items_num[1:4]=22,33,44
items_float[2:7]=10.66,2.2,4.6,55.55,4.56
items_string[3:5]='xyz','xxyyzz'

print(items_num, items_float, items_string, sep='\n')

[1, 2, 3, 10, 5, 6, 7, 8]
[2.2, 3.3, 4.4, 5.5, 10.66]
['abc', 'def', 'xyz', 'jkl', 'mno']
[1, 22, 33, 44, 5, 6, 7, 8]
[2.2, 3.3, 10.66, 2.2, 4.6, 55.55, 4.56]
['abc', 'def', 'xyz', 'xyz', 'xxyyzz']

In [63]:
items_num[1:]=22,44,44,4,4
print(items_num)

[1, 22, 44, 44, 4, 4]

###  List Methods -

In [66]:
# These are the methods use too alter or control the list in python.
#Examples for list methods.

# 1.append() - adds an element to the end of the  list.
int=[1,2,3,4,5]
float=[2.2,4.4,5.5,6.6]
string=['Bot', 'Trade', 'Wallet']

int.append(44), float.append(7.7), string.append('Binary')

print(int,float,string, sep='\n')

[1, 2, 3, 4, 5, 44]
[2.2, 4.4, 5.5, 6.6, 7.7]
['Bot', 'Trade', 'Wallet', 'Binary']

In [68]:
# 2.extend() - adds more than one element to the end of the list.
int1=[1,2,3,4,5]
float1=[2.2,4.4,5.5,6.6]
string1=['Bot', 'Trade', 'Wallet']

int2=[6,7,8,9,10]
float2=[7.7,8.8,9.9]
string2=['profile', 'Count', 'Coins']

int1.extend(int2), float1.extend(float2), string1.extend(string2)

print(int1,float1,string1, sep='\n')

a=[1,2,3,4] # another example of extend
b=[4.4,5.5,6.6]
c=['asd', 'sd', 'd']

a.extend(b), c.extend(b)

print(a,c,sep='\n')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2.2, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9]
['Bot', 'Trade', 'Wallet', 'profile', 'Count', 'Coins']
[1, 2, 3, 4, 4.4, 5.5, 6.6]
['asd', 'sd', 'd', 4.4, 5.5, 6.6]

In [70]:
# 3.insert() - inserts an element at specified position (it will insert an element without removig the existed elements at any index.)

#Examples for insert() method
student_name=['Ramesh','Suresh','Pranesh','Viswesh','Rupesh'] # String
ranks=[22,34,56,7,76] # int
percent=[92.56,88.88,81.78,96.01,75.57] # float

student_name.insert(1,'abhi'), ranks.insert(4,3), percent.insert(3,89.99) # (4,3) here '4' is index and '3' is element that will be inserted in list

print(student_name,ranks,percent, sep='\n')

['Ramesh', 'abhi', 'Suresh', 'Pranesh', 'Viswesh', 'Rupesh']
[22, 34, 56, 7, 3, 76]
[92.56, 88.88, 81.78, 89.99, 96.01, 75.57]

In [72]:
# 4.remove() - removes the first occurence of a value and also removes number if there is no repeated number.

#Examples for remove() method
playlist=['Hollywood','Bollywood','Tollywood','Hollywood','Mollywoood','Sandalwood'] # string
songs_count=[120,32,23,4,1,0]  # int
songs_length=[2.8,4.5,3.8,2.4,4.5,3.9] # float (in minutes)

playlist.remove('Hollywood'), songs_count.remove(32), songs_length.remove(4.5), songs_length.remove(3.9) 

print(playlist,songs_count,songs_length,sep='\n')

['Bollywood', 'Tollywood', 'Hollywood', 'Mollywoood', 'Sandalwood']
[120, 23, 4, 1, 0]
[2.8, 3.8, 2.4, 4.5]

In [74]:
# 5.pop() - removes and returns the value at a specified index.

#Examples for pop() method
_1=[1,2,3,4,5,6]
_2=[44.3,55.4,66.5,77.6,88.7,99.8]
_3=['first','second','third','fourth','fifth','sixth']


one=_1.pop(2)
two=_2.pop(0)
three=_3.pop(4)

print(_1,_2,_3,one,two,three,sep='\n')

[1, 2, 4, 5, 6]
[55.4, 66.5, 77.6, 88.7, 99.8]
['first', 'second', 'third', 'fourth', 'sixth']
3
44.3
fifth

In [76]:
# 6.index() - returns the index of the first occurance value

#Examples for index() method
num1=[33,55,77,99,22,33,66,88] # int
flo1=[11.2,22.3,33.4,44.5,55.6,66.7,77.8,88.9] # float
str1=['abc','def','ghi','jkl','mno','pqr','stu','vwx'] # string

num2=num1.index(99)
flo2=flo1.index(11.2)
str2=str1.index('ghi')

print(num2,flo2,str2,sep=',')
print(num1.index(77),flo1.index(88.9),str1.index('abc'),sep=',') # Another method

3,0,2
2,7,0

In [78]:
# 7.count() - returns the no.of occurance of a value (it will shows how many times an element is repeated in a list)

#Examples for count() method
num_count=[2,3,4,6,5,3,2,3,2,4,2]
flo_count=[2.2,3.3,7.7,2.2,8.8,2,2.6]
str_count=['apple','banana','apple','orange','grape','grapefruit']

count1=num_count.count(2)
count2=flo_count.count(1.12)
count3=str_count.count('apple')

print(count1,count2,count3,sep=',')
print(num_count.count(4),flo_count.count(2.2),str_count.count('orange'),sep=',') ## another method

4,0,2
2,2,1

In [80]:
# 8.sort() - sorts the list in ascending and descending order 

#Examples for sort() method - ascending order
ticket_quota=['tatkal','General','premium tatkal','Vikalp','Senior citizen'] # string
tickets_available=[221,0,87,25,50] # int
confirm_possibility=[87.0,67.0,98.0,78.0,89.0] # float

ticket_quota.sort(),tickets_available.sort(),confirm_possibility.sort()

print(ticket_quota,tickets_available,confirm_possibility,sep='\n')

##Examples for sort() method - descending order
ticket_quota.sort(reverse=True),tickets_available.sort(reverse=True),confirm_possibility.sort(reverse=True)

print(ticket_quota,tickets_available,confirm_possibility,sep='\n')

['General', 'Senior citizen', 'Vikalp', 'premium tatkal', 'tatkal']
[0, 25, 50, 87, 221]
[67.0, 78.0, 87.0, 89.0, 98.0]
['tatkal', 'premium tatkal', 'Vikalp', 'Senior citizen', 'General']
[221, 87, 50, 25, 0]
[98.0, 89.0, 87.0, 78.0, 67.0]

In [82]:
# 9.reverse() - it will reverse the list

#Examples for reverse() method
movies=['Saaho','Kalki','Maharaju','Kong X Godzilla','Salaar','Hanuman','RRR'] # string
price=[150,450,200,180,300,240,500] # int
rating=[8.5,9.8,8.2,7.9,9.5,9.2,9.6] # float

movies.reverse(),price.reverse(),rating.reverse()

print(movies,price,rating,sep='\n')

['RRR', 'Hanuman', 'Salaar', 'Kong X Godzilla', 'Maharaju', 'Kalki', 'Saaho']
[500, 240, 300, 180, 200, 450, 150]
[9.6, 9.2, 9.5, 7.9, 8.2, 9.8, 8.5]

In [83]:
# 10.copy() - copies the list into an another list

#Examples for copy() method
int_orginals=[1,3,5,7,9]
float_orginals=[2.2,3.3,4.4,5.5]
string_orginals=['STRING1','STRING2','STRING3']

int_copy=int_orginals.copy()
float_copy=float_orginals.copy()
string_copy=string_orginals.copy()

print(int_copy,float_copy,string_copy,sep='\n')

[1, 3, 5, 7, 9]
[2.2, 3.3, 4.4, 5.5]
['STRING1', 'STRING2', 'STRING3']

In [85]:
# 11.clear() - removes all the elements from the list

#Examples for clear() method
a1=[1,2,3,4,5,6,7,8,9]
b1=[2.2,4.4,6.6,8.8,0.5]
c1=['abc','def','ghi','jkl']

a1.clear(),b1.clear(),c1.clear()

print(a1,b1,c1,sep=',')

[],[],[]

In [87]:
# 12.min() - calculates/shows the minimum of all the elements in list.

#Examples for min() method.
list_int=[1,2,3,4,5,6,10,3,4,5,78,0]
list_float=[2.2,8.6,5.6,1.0,7.7,3.5]
list_string=['Pepsi','Cola','sprite','limca']

print(min(list_int),min(list_float),min(list_string),sep=',')

# 13.max() - calculates/shows the maximum of all the elements in list.

print(max(list_int),max(list_float),max(list_string),sep=',')

0,1.0,Cola
78,8.6,sprite

In [90]:
# 14.len() - calculates the total length of the list

#Examples for len() method.
company=['TCS','WIPRO','HCL','CAP GEMINI','ZOHO'] # string
salary=[12,13,20,35,8,36,7] # int (in LPA)
hike=[2.5,1.9,3.5,4.2,3.1,2.7] # float

print(len(company),len(salary),len(hike),sep='\n')

5
7
6

In [92]:
# 15.sum() - calculates the sum of all elements of the list

#Examples for sum() method
list_items_1=[1,44,5,3,6,7,19,20] # int
list_items_2=[22.2,44.5,66.7,11.34,32.34] # float

print(sum(list_items_1),sum(list_items_2),sep='\n')

105
177.08

In [96]:
# 16.del() - deletes an element from the list using it's index 

#Examples for del() method (to delete a single element in list).
car_brand=['TATA','MAHINDRA','KIA','HUNDAI','BMW','SKODA'] # string
car_milage=[22,24,10,26,15,17] # int
car_price=[8.6,10.7,14.5,18.3,45.7,37.8] # float

del car_brand[2]
del car_milage[0]
del car_price[5]

print(car_brand,car_milage,car_price,sep='\n')

#Examples for del() method (to delete multiple elements in list using slicing).
bike_brand=['YAMAHA','TVS','ROYAL ENFIELD','SUZUKI','KTM','BMW'] # string
bike_milage=[30,25,34,22,18,20] # int
bike_price=[1.6,1.7,1.5,1.3,4.5,3.7] # float

del bike_brand[0:2]
del bike_milage[3:6]
del bike_price[0:6]

print(bike_brand,bike_milage,bike_price,sep='\n')

['TATA', 'MAHINDRA', 'HUNDAI', 'BMW', 'SKODA']
[24, 10, 26, 15, 17]
[8.6, 10.7, 14.5, 18.3, 45.7]
['ROYAL ENFIELD', 'SUZUKI', 'KTM', 'BMW']
[30, 25, 34]
[]