### Strings :

In [10]:
# A string is a sequence of characters. we use single,double and triple quotes to represent a string in python.

#Examples for string.
string1="Python"
string2='   SQL'
string3="""python is can be used for data science,web developement, app development etc..""" # multiline
string4='''Python,SQL,Tableu,power bi,deep learing,machine learing''' # multiline

print(string1, string2, string3, string4, sep='\n')

Python
   SQL
python is can be used for data science,web developement, app development etc..
Python,SQL,Tableu,power bi,deep learing,machine learing

### String operations :

In [63]:
# 1.Concatination - combines two or more strings.

#Examples for concatination
five_star1='Eat five-star'
five_star2='Do nothing.'
dairymilk="One step ahead"
dairymilkk="with cadbury."

concatt_FS=five_star1+' & '+five_star2
concatt_DM=dairymilk+' '+dairymilkk

print(concatt_FS, concatt_DM, sep='\n')

Eat five-star & Do nothing.
One step ahead with cadbury.

In [71]:
# 2.Repetition - repeats the string no.of times

#Example for repetition
my_name="Marella Srinath Reddy"
age="22"
pursue="Data Science"

print((my_name+',')*8,(age+',')*10,(pursue+',')*12,sep='\n')

Marella Srinath Reddy,Marella Srinath Reddy,Marella Srinath Reddy,Marella Srinath Reddy,Marella Srinath Reddy,Marella Srinath Reddy,Marella Srinath Reddy,Marella Srinath Reddy,
22,22,22,22,22,22,22,22,22,22,
Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,

In [77]:
# 3.Indexing - accessing individual character in the string

#Example for indexing
chocolate="MILKY BAR"
chips="Takis and Nachoes"
biscuit="Mario Gold"

print(chocolate[0],chips[4],biscuit[6], sep='\n')

M
s
G

In [85]:
# 4.Slicing - Extracting a sub-string from a string

#Examples for slicing
bikes='Yamaha, Duke, Suzuki, Kawasaki, Tvs, Hero'
cars='TATA, Kia, Mahindra, Suzuki, Skoda'
cycles='Hero, Atlas, Hericulus, Avon, SK bikes'
tractors='Swaraj, Mahindra, John deer, Kabuto, SDF'
buses='TATA, Volvo, Force, Ashok leyland'
aeroplanes='Kingfisher, Indigo, Airindia, Fly Emirades, Simha Airlines'

print(bikes[0:10],cars[4:14],cycles[6:8],tractors[0:20],buses[3:18],aeroplanes[5:10],sep='\n')

Yamaha, Du
, Kia, Mah
At
Swaraj, Mahindra, Jo
A, Volvo, Force
isher

### Python-Format-Strings -

In [20]:
# 1.old style formating (% operator) - uses the % operator and placeholders.

#Examples for old style formatting.
Namee='Marella Srinath Reddy'
agee=22
course='Data Science'
sentence="My name is %s and i am %d years old and currently i am learning %s." % (Namee,agee,course)
print(sentence)

# 2.Format method (modified method) - uses format() method with placeholder.

#Examples for Format method.
Namee='Gundla Durga Rao'
agee=21
course='Python Full Stack'
sentence="My name is {} and i am {} years old and currently i am learning {}.".format(Namee,agee,course)
print(sentence)

# 3.String Interpolation (f-string-python 3.6 and later) - uses f-string, where expressions inside curly braces '{}' are evaluated and replaced.

#Examples for String Interpolation.
Namee='Kasimalla Narasinha'
agee=21
course='Java Full Stack'
sentence=f"My name is {Namee} and i am {agee} years old and currently i am learning {course}."
print(sentence)

My name is Marella Srinath Reddy and i am 22 years old and currently i am learning Data Science.
My name is Gundla Durga Rao and i am 21 years old and currently i am learning Python Full Stack.
My name is Kasimalla Narasinha and i am 21 years old and currently i am learning Java Full Stack.

### String Methods -

In [60]:
# 1.len() - returns the length of the string. 

#Examples for len()
my_string='Python is life'
length=len(my_string)

print(length)

# 2.lower() - converts the string to lower and lowercase.

#Examples for lower()
my_string='Python IS life'
print(my_string.lower())

# 3.upper() - converts the string to uppercase

#Examples for upper()
my_string='Python is life'
print(my_string.upper())

# 4.replace()

#Examples for replace()
my_string='Python is life'
print(my_string.replace('is','are'))

# 5.Strip() 

#Examples for strip()
my_string='       Python is life        '
print(my_string.strip())

# 6.split

#Examples for split()
my_string='Python is life'
print(my_string.split())

# 7.capitalize()

#Examples for capitalize()
my_string='python is life'
print(my_string.capitalize())

# 8.center()

#Examples for center()
my_string='python is life'
print(my_string.center(40))

# 9.count()

#Examples for count()
my_string='python is is is  life'
print(my_string.count('is'))

# 10.partition()

#Examples for partition()
my_string='python is life'
print(my_string.partition('is'))

14
python is life
PYTHON IS LIFE
Python are life
Python is life
['Python', 'is', 'life']
Python is life
             python is life
3
('python ', 'is', ' life')